#myCanvas {
    position: absolute;
}

#toolWindow {
    border: 2px #9e9d9d solid;
    border-radius: 10px;
    width: 150px;
    height: calc(100vh - 40px);
    background-color: rgba(196, 196, 196, 0.7);
    position: absolute;
    left: 20px;
    top: 20px;
}

#visibleBlock {
    overflow: hidden;
    width: 150px;
    height: calc(100vh - 80px);
    position: absolute;
    top: 20px;
}

#toolScrollBlock {

    position: relative;
    top: 0px;
    height: 650px;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.toolButton {
    position: absolute;
    box-shadow: none;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    border-color: rgba(80, 80, 80, 0.5);
    background-color: rgba(255, 255, 255, 0.7);

}

.toolButton:hover {
    background-color: rgba(215, 215, 215, 0.7);
    transition-duration: 0.3s;
}

#toolWindowFirstButton {
    position: relative;
    top: 0px;
}

#toolWindowSecondButton {
    position: relative;
    top: 70px;
}

#toolWindowThirdButton {
    position: relative;
    top: 140px;
}

#toolWindowFourthButton {
    position: relative;
    top: 210px;
}

#toolWindowFifthButton {
    position: relative;
    top: 280px;
}

#toolWindowSixthButton {
    position: relative;
    top: 350px;
}

#toolWindowSeventhButton {
    position: relative;
    top: 420px;
}

#toolWindowEighthButton {
    position: relative;
    top: 490px;
}

#toolWindowNinthButton {
    position: relative;
    top: 565px;
}

#toolWindowTenthButton {
    position: relative;
    top: 615px;
    left: 25px;
}

#thicknessRange {
    position: absolute;
    width: 100px;
}

#inputColor {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    width: 80px;
    left: 35px;
}

#inputColor::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
}

#inputColor::-moz-color-swatch {
    border: none;
    border-radius: 10px;
}

.leftToolButton {
    left: 6px;
}

.rightToolButton {
    right: 6px;
}

#textInput {
    width: 200px;
    font-size: 24px;
    position: absolute;
    border-radius: 8px;
}